.topbar {
  background-color: #0068ff;
  height: 38px;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  color: white;
}
@media (max-width: 770px) {
  .topbar {
    width: 100%;
  }
}
.topbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 60vw;
  margin: 0;
}
.topbar__list i {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}
.topbar__item {
  list-style: none;
}
.main-header {
  height: 90px;
  display: flex;
  letter-spacing: 0;
}
@media (max-width: 770px) {
  .main-header {
    height: 120px;
  }
}
.main-header .container-header {
  width: 71vw;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 770px) {
  .main-header .container-header {
    width: 85%;
  }
}
.main-header .row {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header .col-md-2,
.main-header .col-md-7,
.main-header .col-md-4 {
  padding: 0;
}
.main-header .col-md-4 {
  display: flex;
  justify-content: right;
}
.main-header__logo img {
  display: block;
  max-width: 90%;
  height: auto;
}
.main-header__nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.main-header__nav-list {
  display: flex;
  gap: 22px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-header__nav-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
}
.main-header__nav-item a img {
  display: inline;
}
.main-header__nav-item a:hover {
  color: #0068ff;
}
.main-header__nav-item #main-header__nav-item__sale {
  color: #c40837;
  font-weight: 700;
}
.main-header__search {
  display: flex;
  align-items: center;
  border: 1px solid #e3e3e3;
  border-radius: 80px;
  padding: 4px 4px;
  height: 44px;
  margin-right: 10px;
}
.main-header__search input {
  width: 50%;
  border: none;
  background: transparent;
  outline: none;
  flex-grow: 1;
  padding-right: 10px;
  font-size: 12px;
}
.main-header__search button {
  background: none;
  height: 36px;
  width: 36px;
  border: none;
  border-radius: 18px;
  color: #292929;
  cursor: pointer;
  background-color: #f6f6f6;
}
.main-header__actions {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 770px) {
  .main-header__actions {
    gap: 15px;
  }
}
.main-header__actions button {
  background: #f6f6f6;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #292929;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  transition: color 0.3s ease;
  position: relative;
}
.main-header__actions button:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: 44px;
  height: 44px;
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  box-sizing: border-box;
  pointer-events: none;
}
.main-header__actions button:hover {
  color: #0068ff;
}
.slider {
  position: relative;
  margin: 2rem auto;
  border-radius: 16px;
  overflow: hidden;
}
.slider .slick-list,
.slider .slick-track {
  height: 550px;
}
.slider__item {
  position: relative;
  height: 100%;
}
.slider__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.slider__content {
  position: absolute;
  top: 83%;
  left: 50px;
  transform: translateY(-50%);
  z-index: 2;
  width: 95%;
  height: auto;
  border-radius: 4px;
  color: white;
}
.slider__title {
  width: 50%;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 1rem;
}
.slider__description {
  width: 45%;
  line-height: 1.6;
  margin-bottom: 4rem;
  color: #eeeeee;
}
.slider__button {
  position: absolute;
  top: 50%;
  left: 88%;
  display: inline-block;
  font-weight: 700;
  font-style: bold;
  font-size: 14px;
  padding: 10px 17px;
  border: 1px solid white;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}
.slider__button:hover {
  background-color: #fff;
  color: #333;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background: transparent;
  border: 1px solid white;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
}
.slider .slick-arrow::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-size: 16px;
  color: white;
}
.slider .slick-prev {
  left: 50px;
}
.slider .slick-prev::before {
  content: "\f053";
}
.slider .slick-next {
  right: 50px;
}
.slider .slick-next::before {
  content: "\f054";
}
.slider .slick-dots {
  width: 68px;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}
.slider .slick-dots li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li button {
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: #292929;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li.slick-active button {
  margin-top: 5px;
  font-size: 12px;
  border: 1px solid #0068ff;
  color: #0068ff;
}
.image-wrapper img {
  border-radius: 16px;
}
.product-slider {
  margin-top: 5rem;
}
.product-slider__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.product-slider__nav {
  display: flex;
  gap: 20px;
  font-size: 16px;
  align-items: center;
}
@media (max-width: 770px) {
  .product-slider__nav {
    font-size: 24px;
    font-weight: 400;
  }
}
.product-slider__nav span {
  color: #292929;
  font-weight: 700;
  font-size: 16px;
}
.product-slider__nav-link {
  text-align: center;
  font-size: 32px;
  color: #292929;
  font-weight: 400;
  text-decoration: none;
}
.product-slider__nav-link--active {
  font-weight: 800;
  color: #0068ff;
}
.product-slider__show-all {
  font-size: 12px;
  text-decoration: none;
  color: #292929;
  font-weight: 400;
}
.product-slider .product-card {
  overflow: hidden;
  height: 100%;
}
.product-slider__container .slick-track {
  display: flex;
  gap: 10px;
}
.product-slider__container .slick-arrow {
  color: white;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(8px);
  border: 1px solid white;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
}
.product-slider__container .slick-arrow:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.product-slider__container .slick-arrow::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: white;
  font-size: 14px;
  line-height: 36px;
}
.product-slider__container .slick-prev {
  left: 1.5%;
}
.product-slider__container .slick-prev::before {
  content: "\f053";
}
.product-slider__container .slick-next {
  right: 1%;
}
.product-slider__container .slick-next::before {
  content: "\f054";
}
.product-slider__container .slick-dots {
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
.product-slider__container .slick-dots li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-slider__container .slick-dots li button {
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: #292929;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-slider__container .slick-dots li.slick-active button {
  margin-top: 3px;
  font-size: 12px;
  border: 1px solid #0068ff;
  color: #0068ff;
}
.product-slider .product-card__badges {
  position: absolute;
  border-radius: 2px;
  top: 12px;
  left: 12px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.product-card {
  border-radius: 10px;
  text-align: left;
}
.product-card__image-container {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;
}
.product-card__image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.product-card__image:hover {
  transform: scale(1.05);
}
.product-card__content {
  padding: 0 0.5rem;
}
.product-card__title {
  font-size: 15px;
  color: #292929;
  font-weight: 600;
  line-height: 18px;
}
.product-card__availability {
  font-size: 13px;
  font-weight: 500;
  color: #595959;
  margin-bottom: 10px;
}
.product-card__price-wrapper {
  display: flex;
  align-items: baseline;
  font-weight: 700;
  font-size: 15px;
  gap: 10px;
}
.product-card__price--current {
  font-size: 15px;
  font-weight: 700;
  color: #0068FF;
}
.product-card__price--current.product-card__price--promo {
  color: white;
  background-color: #c40837;
  padding: 0 5px;
  border-radius: 4px;
}
.product-card__price--old {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: #595959;
  text-decoration: line-through;
}
.product-card__omnibus-note {
  font-size: 12px;
  line-height: 18px;
  color: #595959;
}
.badge {
  padding: 4px 10px;
  font-size: 0.7rem;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
}
.badge--promo {
  background-color: #c40837;
}
.badge--new {
  background-color: #36b588;
}
.badge--bestseller {
  background-color: #a70584;
}
.newsletter {
  background-color: #0068ff;
  border-radius: 16px;
  color: white;
}
.newsletter__icon img {
  height: 100%;
}
.newsletter__content {
  display: flex;
}
.newsletter__content h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
}
.newsletter__content span {
  font-weight: 900;
  font-size: 28px;
}
.newsletter__content p {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: white;
  margin: 0;
}
.newsletter__form .form-control {
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 10px 15px;
  color: #333;
}
.newsletter__form .form-control:focus {
  box-shadow: none;
}
.newsletter__form .newsletter__input-group {
  height: 48px;
  border-radius: 24px;
  overflow: hidden;
  background-color: white;
  align-items: center;
}
.newsletter__form .newsletter__input-group input {
  width: 50%;
}
.newsletter__form .newsletter__button {
  background: url("../images/send-icon.svg") no-repeat center;
  background-size: 24px;
  background-color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 42px !important;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 2px;
}
.newsletter__form .newsletter__error {
  background-color: #ffecec;
  color: #c82020;
  font-size: 12px;
  border-radius: 4px;
  line-height: 18px;
  width: 80%;
  margin: 4px auto;
  padding: 0 4px;
}
.newsletter__form .newsletter__consent {
  display: flex;
  align-items: flex-start;
  font-size: 12px;
  line-height: 18px;
}
.newsletter__form .newsletter__consent a {
  color: white;
  text-decoration: underline;
}
.newsletter__form .newsletter__consent input[type="checkbox"] {
  margin-right: 10px;
  border-radius: 4px;
}
.footer {
  background-color: #f6f6f6;
  color: #292929;
  width: 72vw;
  margin: 0 auto;
  border-radius: 16px;
  padding: 3rem 2rem;
}
.footer h5 {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 1rem;
  color: #292929;
}
.footer ul {
  padding: 0;
  list-style: none;
}
.footer ul li {
  margin-bottom: 0.5rem;
}
.footer ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #292929;
  transition: color 0.3s ease;
}
.footer ul li a:hover {
  color: #0068ff;
}
.footer p {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  color: #292929;
}
.footer p a {
  color: #292929;
  text-decoration: none;
}
.footer p a:hover {
  color: #0068ff;
}
.footer p i {
  margin-right: 8px;
  color: #0068ff;
}
.footer__logos {
  display: flex;
  gap: 15px;
  margin-top: 2rem;
}
.footer__logos img {
  height: 32px;
  object-fit: contain;
}
.footer__icons {
  display: flex;
  gap: 15px;
  margin-top: 2rem;
}
.footer__icons a {
  color: #292929;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}
.footer__icons a:hover {
  color: #0068ff;
}
.footer__bottom {
  border-top: 1px solid #dadada;
  margin-top: 3rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer__bottom h5 {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #292929;
}
.footer__bottom p {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #292929;
}
.footer__image-wrapper {
  height: 32px;
  padding: 4px 10px;
  background-color: white;
  border: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.footer__image-wrapper img {
  object-fit: contain;
  display: block;
}
.footer .bottom__social-media i {
  font-size: 24px;
}
* {
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  letter-spacing: 0;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
.page-container {
  width: 72vw;
  margin: 0 auto;
}
@media (max-width: 770px) {
  html,
  body {
    width: 100%;
  }
  .page-container {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */