.footer {
  background-color: #f8f9fa;
  padding: 4rem;
  font-size: 0.9rem;
  color: gray;
  width: 80vw;
  margin: 20px auto;
  border-radius:20px; ;
}
.footer__main {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.footer__column {
  flex: 1;
}
.footer__column--contact {
  flex-basis: 25%;
}
.footer__title {
  color: black;
  font-weight: 700;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
.footer__list {
  list-style: none;
  padding: 0;
  li {
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    i {
      margin-right: 8px;
      color: #0068ff;
    }
  }
}
.footer__hours {
  line-height: 1.5;
  margin-top: 1rem;
}
.footer__link {
  text-decoration: none;
  color: gray;

}
.footer__divider {
  border: none;
  height: 1px;
  background-color: lightgray;
  margin: 3rem 0;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}
.footer__icons {
  display: flex;
  gap: 1.5rem;
  font-size: 1.25rem;
  a {
    color: gray;
    &:hover {
      color: #0068ff;
    }
  }
}
