
.photo-gallery {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width:80vw;
  margin: 0 auto;
}

.photo-gallery__grid {
  display: flex;
  gap: 1rem;
  height: 900px; 
}

.photo-gallery__column {
  display: flex;
  flex-direction: column;
  flex-basis: 25%; 
  gap: 1rem;
}



.photo-gallery__item {
  display: flex; 
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;


}

.photo-gallery__column:nth-child(odd) {

  .photo-gallery__item:first-child {
    flex: 2 1 0%;
  }
  .photo-gallery__item:last-child {
    flex: 1 1 0%;
  }
}


.photo-gallery__column:nth-child(even) {
  .photo-gallery__item:first-child {
    flex: 1 1 0%;
  }
  .photo-gallery__item:last-child {
    flex: 2 1 0%;
  }
}

.photo-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}