.main-header {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
  gap: 2vw;
  padding: 1.5rem 4vw;
  background-color: #fff;
  margin: 0 120px;

  &__logo {
    img {
      max-height: 24px;
    }
  }

  &__nav {
    &-list {
      display: flex;
      gap: 3vw;
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        &:hover {
          color: #0068ff;
        }
      }
      li:nth-child(5) {
        a {
          color: #d00;
          font-weight: 700;
          &:hover {
            color: #0068ff;
          }
        }
      }
    }
  }

  &__search {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 30px;
    overflow: hidden;
    padding: 5px;

    input {
      border: none;
      margin-left: 10px;
      min-width: 1vw;
      outline: none;
    }

    button {
      background-color: lightgray;
      min-width: 40px;
      height: 40px;
      border-radius: 20px;
      border: none;
      color: black;
      cursor: pointer;
    }
  }

  &__actions {
    display: flex;
    gap: 1vw;

    button {
      position: relative;
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 50%;
      background-color: lightgray;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        width: 44px;
        height: 44px;
        border: 1px solid lightgray;
        border-radius: 50%;
        z-index: -1;
      }

      i {
        font-size: 16px;
        color: black;
        z-index: 2;
      }
    }
  }
}
