@use 'topbar';
@use 'main-header';
@use 'slider';
@use 'gallery';
@use 'product-slider';

* {
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

html, body {
  margin:0;
  padding:0;
}
