@import "_topbar.less";
@import "_main-header.less";
@import "_slider.less";
@import "_gallery.less";
@import "_product-slider.less";
@import "_newsletter.less";
@import "_footer.less";

* {
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  letter-spacing: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}
.page-container {
  width: 72vw;
  margin: 0 auto;
}